@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&family=Outfit:wght@200;700&family=Poppins:wght@400;600;700;800&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

header,
main {
  margin: 0 auto;
  color: hsl(192, 100%, 9%);
}

header {
  padding-top: 1.5rem;
}

.logo > img {
  width: 20%;
}

.logo {
  color: black;
  font-size: 1.2rem;
  font-weight: bolder;
}

.prompt {
  display: block;
  font-size: 0.8rem;
  color: hsl(321, 100%, 78%);
  border: 2px solid hsl(321, 100%, 78%);
  padding: 0.3em 1.2em;
  border-radius: 1em;
}

.head {
  margin-top: 4.5em;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 1em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head,
.text {
  text-align: center;
}

.text {
  display: block;
  font-size: 0.9rem;
  margin: 0 auto;
  margin-bottom: 3em;
}

.button {
  width: 60%;
  margin: 0 auto;
  color: white;
  font-size: 0.8rem;
  background-color: hsl(322, 100%, 66%);
  padding: 0.8em 2em;
  border-radius: 2em;
  text-align: center;
  margin-top: 2em;
}

.image {
  margin-top: 5em;
  margin-bottom: 5em;
}

.image > img {
  width: 100%;
}

.left,
.right {
  margin-bottom: 4.5em;
}

.icon {
  text-align: center;
  margin-left: -6.43em;
}

.number {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.bottom-text {
  font-size: 0.8rem;
  text-align: center;
  opacity: 60%;
}

.right-image1 > img,
.left-image2 > img,
.right-image3 > img {
  width: 100%;
}

.right-image1,
.left-image2,
.right-image3 {
  padding-bottom: 7em;
  padding-top: 7em;
}

.paragraph,
.top-title {
  text-align: center;
  padding-bottom: 0.8em;
}

.top-title,
.head-title {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.one,
.three {
  background: hsl(207, 100%, 98%);
}

.bottom-nav {
  margin-top: 7em;
  margin-bottom: 7em;
}
.head-title {
  text-align: center;
  padding-bottom: 1.5em;
  font-weight: bold;
}

.paragraph,
.center-paragraph,
.middle-paragraph,
.phone,
.email {
  font-size: 0.9rem;
}

.phone {
  margin: 0.7em 0 0.7em 0;
}

.email {
  padding-bottom: 0.7em;
}

.main-title {
  text-transform: uppercase;
  font-weight: bold;
}

.main-title {
  padding-top: 6em;
}

.left-side {
  width: 100%;
}

.center-paragraph {
  width: 100%;
  margin: 1.2em 0 1.2em 0;
}

nav,
.head,
.text,
.image,
.numbers,
.one,
.two,
.three,
.bottom-nav,
.attribution {
  padding: 0 1.5em;
}

.two {
  padding-top: 3em;
  padding-bottom: 4em;
}

.one,
.three {
  padding-bottom: 4em;
}

.input {
  display: block;
  background-color: white;
  height: 2.5em;
  border-radius: 0.3em;
  width: 100%;
  margin-bottom: 1em;
}
.subscribe {
  display: block;
  padding: 0.8em 0;
  background-color: hsl(322, 100%, 66%);
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 0.3em;
  color: white;
  text-align: center;
  width: 50%;
  margin-left: 50%;
  margin-bottom: 5em;
}

.middle-paragraph {
  margin-bottom: 3em;
}

footer {
  color: white;
  margin: 0 auto;
}

.bottom-section {
  padding: 0 1.5em;
  margin: 0 auto;
  background: hsl(192, 100%, 9%);
}

.attribution {
  background: hsl(192, 100%, 9%);
  font-size: 0.9rem;
  padding-bottom: 2em;
}

.bottom-logo {
  color: white;
  font-size: 2.1rem;
  font-weight: bolder;
}
.footer-image {
  background-image: url("/images/bg-footer-top-mobile.svg");
  background-repeat: no-repeat;
  height: 50px;
  background-size: cover;
}

.bottom-section-svg {
  background-image: url("/images/bg-section-bottom-mobile-1.svg");
  background-repeat: no-repeat;
  height: 50px;
  background-size: cover;
}

.bottom-section-svg2 {
  background-image: url("/images/bg-section-bottom-mobile-2.svg");
  background-repeat: no-repeat;
  height: 100px;
  background-size: cover;
}

.top-section-svg {
  background-image: url("/images/bg-section-top-mobile-1.svg");
  background-repeat: no-repeat;
  height: 100px;
  background-size: cover;
}

.top-section-svg2 {
  background-image: url("/images/bg-section-top-mobile-2.svg");
  background-repeat: no-repeat;
  height: 100px;
  background-size: cover;
}

.Megan {
  text-decoration: none;
  color: hsl(322, 100%, 66%);
  font-size: 1.2rem;
  position: relative;
}

.Megan,
a::before {
  background-color: white;
  border-radius: 0.2em;
}

a:hover,
a:focus {
  background-color: rgb(63, 60, 60);
}
